[submodule "python"]
	path = python
	url = git@github.com:kaave/playground-python.git
[submodule "ruby"]
	path = ruby
	url = git@github.com:kaave/playground-ruby.git
[submodule "typescript"]
	path = typescript
	url = git@github.com:kaave/playground-typescript.git
[submodule "javascript"]
	path = javascript
	url = git@github.com:kaave/playground-javascript.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:kaave/playground-frontend.git
